<div nz-row class="container">

  <div class="celda1" nz-col [nzXs]="{ span: 22, offset: 1 }" [nzMd]="{ span: 22, offset: 1 }" [nzLg]="{ span: 7, offset: 1 }">Celda 1</div>
  <div class="celda1" nz-col [nzXs]="{ span: 22, offset: 1 }" [nzMd]="{ span: 11, offset: 1 }" [nzLg]="{ span: 7, offset: 1 }">Celda 2</div>
  <div class="celda1" nz-col [nzXs]="{ span: 22, offset: 1 }" [nzMd]="{ span: 11, offset: 0 }" [nzLg]="{ span: 7, offset: 1 }">Celda 3</div>

  <div class="celda2" nz-col [nzXs]="{ span: 0, offset: 0 }"  [nzLg]="{ span: 6, offset: 1 }">Celda 4</div>

  <div class="celda3" nz-col [nzXs]="{ span: 22, offset: 1 }"  [nzLg]="{ span: 0, offset: 0 }">Celda 5</div>

</div>

